.uno {
    background-color: #ed948a;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.tres {font-size: 24px;
}

#dos {color: blue;
      font-size: 36px;
}

#cuatro {background-color: #8ff576;
    font-size: 24px;
    font-weight: bold;
}

